@import "./colors";
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  box-shadow: 0em 0.4em 0.4em rgba(0, 0, 0, 0.178);
  background: #feffff;
  background: -moz-linear-gradient(top, #feffff 0%, #ece8fc 100%);
  background: -webkit-linear-gradient(top, #feffff 0%, #ece8fc 100%);
  background: linear-gradient(to bottom, #feffff 0%, #ece8fc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#feffff",
      endColorstr="#d2ebf9",
      GradientType=0
    );
  .searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    margin: 0.4em;
    padding: 0.5em;
  }
}
.repos-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .go-back {
    align-self: flex-start;
    padding: 1em 2em 1em 2em;
    color: white;
    font-size: 2em;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    :nth-child(1) {
      color: $darkGray;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 0.5em;
    padding-bottom: 3em;
    flex-direction: column;
    div {
      flex-direction: column;
    }
    a {
      align-self: flex-start;
    }
  }
}
