@import "./headers.scss";
@import "./cards.scss";
@import "./colors.scss";
@import "./typography.scss";
@import "./buttons.scss";
@import "./pagination.scss";
@import "./preloaders.scss";
@import "./breakpoints.scss";
$screen-sm: 576px;
body,
h1,
h2,
h3 {
  margin: 0;
}
body {
  font-size: 8px;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  button {
    background-color: transparent;
    border-color: transparent;
  }
  a {
    text-decoration: none;
  }
}

.container,
.informer,
.users-list-page,
.user-repos-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.informer {
  align-items: center;
  width: 100%;

  margin-top: 15em;
}
.users-list-page {
  @media screen and (min-width: $mobile) and (max-width: 1023px) {
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
  }

  @media screen and (min-width: $tablet) {
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
  }
}
.user-repos-page {
  align-items: center;
  .wrapper {
    width: 100%;
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5.4em;
      img {
        width: 22em;
        height: 22em;
        border-radius: 100%;
        margin: 2em;
        box-shadow: 0em 1em 0.4em rgba(0, 0, 0, 0.178);
      }
      .repos {
        width: 100%;
      }
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      .user-info {
        width: 20%;
        margin-top: 5em;
        img {
          width: 20em;
          height: 20em;
        }
      }
      .repos {
        width: 80%;
      }
    }
  }
  @media screen and (min-width: $laptop) {
    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      .user-info {
        width: 20%;
        margin-top: 5em;
      }
      .repos {
        width: 80%;
      }
    }
  }
}
