@import "./colors.scss";
.page-numbers {
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 1.6em;
  padding: 0;
  .active {
    background-color: $coolBlue;
    color: white;
    cursor: pointer;
  }
  li {
    color: $darkGray;
    padding: 1.1em;
    margin: 0.2em;
    background-color: white;
    border-radius: 10%;
    border: 0.2em solid $coolBlue;
    box-shadow: 0em 0.5em 0.4em rgba(0, 0, 0, 0.178);
    cursor: pointer;
  }
  li:hover {
    background-color: $coolBlue;
    color: white;
    cursor: pointer;
  }
}
